.father  {
    display: grid;
    grid-template-columns: 100px 200px 50px;
    grid-template-rows: 200px 100px;
    row-gap: 10px;
    column-gap: 20px;
}

.child {
    background-color: tomato;
    display: flex;
    color: white;
    font-size: 28px;
    align-items: center;
    justify-content: center;
}

.child:last-child  {
    background-color: turquoise;
    /*grid-column-start: 2;*/
    /*grid-column-end: -1;*/
    grid-column: 2 / -1; /* 단축 표현 */
}

.child:first-child {
    /*grid-row-start: 1;*/
    /*grid-row-end: -1; */
    /* 3이 마지막 행 넘이므로 -1 을 써도 됨 */
    grid-row: 1 / -1; /* 단축 표현 */
}