.father  {
    display: grid;
    gap: 10px;
    height: 100vh;
    grid-template-columns: repeat(3 , 100px);
    grid-template-rows: repeat(2, 100px);
    background-color: lightblue;
    /*justify-content: center;*/
    /*align-content: center;*/
    place-content: start end;
}

.child {
    background-color: tomato;
    color: white;
    display: flex;
    font-size: 28px;
    align-items: center;
    justify-content: center;
}
