@import "./reset.scss";

body {
  background-color: #dce6d2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.phone {
  background-color: black;
  border-radius: 50px;
  height: 95%;
  width: 420px;
  padding: 50px 20px;
  box-sizing: border-box;
}

.header {
  overflow-x: auto;
  .header__list {
    display: flex;
    gap: 10px;
    color: white;
    width: max-content;
    .header__list-item {
      /* rgba 부분은 scss. */
      border: 1px solid rgba($color: #fff, $alpha: 0.5);
      padding: 10px;
      border-radius: 20px;
    }
    .header__list-item--inverted {
      background-color: white;
      color: black;
    }
  }
}

.cards {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr );
  gap: 10px;
  .cards__card {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
    .card__title {
      font-size: 28px;
    }
    .card__footer {
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        padding: 5px 10px;
        border-radius: 20px;
        border: 1px solid black;
      }
      .price {
        background-color: #FFDD2D;
      }
      .length {
        background-color: white;

      }
    }
    &:first-child {
      background-color: #292D33;
      border: 1px solid white;
      .card__title {
        color: white;
      }
    }
    &:nth-child(2) {
      background-color: #F7F3F0;
    }
    &:nth-child(3) {
      background-color: #FAFCC8;
    }
    &:nth-child(4) {
      background-color: #BFAFF9;
    }
    &:nth-child(5) {
      background-color: #FFD5D5;
    }
    &:nth-child(6) {
      background-color: #D2FFDF;
    }
    &:nth-child(3n) {
      grid-column: span 2;
    }
  }
}